.hero {
  min-height: calc(85dvh - var(--navbar-height));

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  gap: var(--spacing-xl);


  padding: var(--spacing-xl);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.hero-texts {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: var(--spacing-sm);
}

.hero-buttons i {
  margin-left: 6px;
}

.hero-title span {
  color: rgb(var(--color-primary-accent));
}

.hero-image {
  border-radius: var(--radius-lg);

  max-width: 40rem;
  width: 100%;
}

@media (min-width: 1200px) {
  .hero {
    flex-direction: row;
    justify-content: center;

    text-align: left;

    gap: var(--spacing-xxl);
  }

  .hero-buttons {
    justify-content: start;
  }

  .hero-description {
    max-width: 55ch;
  }
}